h1{
  text-align: center;
  text-shadow: black;
  font-size: 50px;
  font-weight: bold;
}
th {
  text-align: center;
  font-size: 25px;
  width: 25%;
}
td{
  width: 25%;
  font-size: 20px;
  text-align: center;
}
div{
  text-align: center;
}