<div class="container" >
<table class="table table-hover" *ngFor="let table of m?.matches|sortdate|paginate:{itemsPerPage:5,currentPage: p}"
 routerLink="/matchdetail/{{table.id}}">
<thead>
      <tr>
        <th></th>
        <th colspan="1;text-align:center;">DATE</th>
        <th></th>
      </tr>
</thead>
<tbody>
      <th></th>
      <td> {{table.utcDate|date}}</td>
      <th></th>
</tbody>
<thead>
      <tr>
        <th colspan="1;text-align:center;">Home</th>
        <th></th>
        <th colspan="1;text-align:center;">AWAY</th>
      </tr>
</thead>
<tbody>
          <td >
            <div *ngFor = "let team of t?.teams"><div *ngIf = "table.homeTeam.id===team.id">
            <img src="{{team.crestUrl}}"width="100" height="120"></div></div>
              {{table.homeTeam.name}}
          </td>
          <td>
              {{table.score.fullTime.homeTeam}}:{{table.score.fullTime.awayTeam}}
          </td>
          <td>
             <div *ngFor = "let team of t?.teams"><div *ngIf = "table.awayTeam.id===team.id">
              <img src="{{team.crestUrl}} "width="100" height="120"></div></div>
              {{table.awayTeam.name}}
          </td>
</tbody>
      <br>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>

