th {
  text-align: center;
  font-size: 45px;
  width: 15%;
}
td{
  width: 25%;
  font-size: 20px;
  text-align: center;
}
button{
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
  text-align: center;
}
