<div class="container">
  <table *ngFor="let table of m?.matches|getmatchId: matchid">

    <tr>

              <th colspan="5;text-align:center;">{{table.utcDate|date}}</th>
    </tr>
          <tr>
              <th >HOME</th>
              <th></th>
              <th></th>
              <th></th>
              <th >AWAY</th>
          </tr>
      <tr>
            <td><div *ngFor = "let team of t?.teams"><div *ngIf = "table.homeTeam.id===team.id">
              <img src="{{team.crestUrl}}"width="250" height="200"  routerLink="/team-detail/{{team.id}}"></div></div></td>
              <th>{{table.score.fullTime.homeTeam}}</th>
              <th>-</th>
              <th>{{table.score.fullTime.awayTeam}}</th>
              <td><div *ngFor = "let team of t?.teams"><div *ngIf = "table.awayTeam.id===team.id">
                <img src="{{team.crestUrl}}"width="250" height="200"  routerLink="/team-detail/{{team.id}}"></div></div></td>
      </tr>
      <tr >
              <td><div *ngFor = "let team of t?.teams"><div *ngIf = "table.homeTeam.id===team.id">
               {{team.shortName}}</div></div></td>
              <td></td>
              <td></td>
              <td></td>
              <td><div *ngFor = "let team of t?.teams"><div *ngIf = "table.awayTeam.id===team.id">
                {{team.shortName}}</div></div></td>
      </tr>
      <br>
      <tr>
              <th></th>
              <th>{{table.score.fullTime.homeTeam}}</th>
              <td>FULL TIME</td>
              <th>{{table.score.fullTime.awayTeam}}</th>
              <th></th>
      </tr>
      <tr>
              <th></th>
              <th>{{table.score.halfTime.homeTeam}}</th>
              <td>HALF TIME</td>
              <th>{{table.score.halfTime.awayTeam}}</th>
              <th></th>
      </tr>
      <br>
      <tr>
        <th colspan="5;text-align:center;">DURATION : {{table.score.duration}}</th>
      </tr>
      <br>
      <tr>

        <th colspan="5;text-align:center;">{{table.score.penalties.homeTeam}}  PENALTIES  {{table.score.penalties.awayTeam}}</th>

      </tr>
  </table>
  <br>
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="goBack()">BACK</button>

</div>